<!DOCTYPE html>
<html ng-App="mainUX">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="HTMLPages/main/mainStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script><!--Bootstrap-->
    <!--Bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script><!--Angular-->
    <script src="HTMLPages/main/controllers.js"></script><!--My Controllers-->
    <title>

    </title>
  </head>
  <body ng-controller="TabController" class="lightGreyContent">

  <nav class="navbar navbar-default mainBar" ng-controller="UserController">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="" href="/GameSpot/main.html">
          <img src="src/SwordsLogo.png" alt="Logo" class="logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active" ng-class="{ active: isSet([0,1]) }"><a  href ng-click="setPrimaryTab(0)">Questions <span class="sr-only">(current)</span></a></li>
          <li ng-class="{ active: isSet([10,11]) }"><a href ng-click="setPrimaryTab(10)">Users</a></li>
          <li ng-class="{ active: isSet([20,21]) }"><a href ng-click="setPrimaryTab(20)">Topics</a></li>
          <li ng-class="{ active: isSet([30]) }"><a href ng-click="setPrimaryTab(30)">Add New Question</a></li>
        </ul>
        <!--Right Side:-->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">{{user.rating}}</a></li>
          <li><a href="">{{user.photo}}</a></li>
          <li><a href="">{{username}}</a></li>
          <li><a href="" ng-click="logout()">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>
  <div class="mainSection">
  <nav class="navbar navbar-inverse mainSectionBar">
    <ul class="nav nav-tabs navTabs">
      <li ng-class="{ active: isSet([0,10]) }" ng-show="isSet([0,1,10])"><a href ng-click="setSecondaryTab(0)">New</a></li>
      <li ng-class="{ active: isSet([1]) }" ng-show="isSet([0,1,10])"><a href ng-click="setSecondaryTab(1)">Popular</a></li>
      <li ng-class="{ active: isSet([12])}" ng-show="isSet([12])"><a href ng-click="setSecondaryTab(2)">Top Users</a></li>
    </ul>
  </nav>
    <div class="iframeContent">
      <div class="quetions" ng-show="isSet([0,1])">
        <div class="new" ng-show="isSet([0])"></div>
        <div class="popular" ng-show="isSet([1])"></div>
      </div>
      <iframe src="questionsView.html" frameborder="0" ng-show="isSet([0])" class="iFrame viewQuestions"></iframe>
      <iframe src="popularQuestionsView.html" frameborder="0" ng-show="isSet([1])" class="iFrame viewPopularQuestions"></iframe>
      <iframe src="questionForm.html" frameborder="0" ng-show="isSet([30])" class="iFrame addNewTopic"></iframe>
      <iframe src="leaderboard.html" frameborder="0" ng-show="isSet([10])" class="iFrame leaderboard"></iframe>
      <iframe src="topTopics.html" frameborder="0" ng-show="isSet([20])" class="iFrame topTopics"></iframe>
    </div>
  </div>
  </body>
  </html>
