<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GameSpot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>game.spot.Main</listener-class>
  </listener>
  <servlet>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>game.spot.servlets.AnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>game.spot.servlets.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>game.spot.servlets.TopicServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>game.spot.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>game.spot.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/answer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>