<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GameSpot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>game.spot.Main</listener-class>
  </listener>
  
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>game.spot.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>game.spot.servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>game.spot.servlets.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNewQuestions</display-name>
    <servlet-name>ViewNewQuestions</servlet-name>
    <servlet-class>game.spot.servlets.ViewNewQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNewQuestions</servlet-name>
    <url-pattern>/ViewNewQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteQuestion</display-name>
    <servlet-name>VoteQuestion</servlet-name>
    <servlet-class>game.spot.servlets.VoteQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteQuestion</servlet-name>
    <url-pattern>/VoteQuestion</url-pattern>
  </servlet-mapping>
</web-app>